body {
  margin: 0;
  font-family: 'Helvetica', sans-serif;
}

header {
  position: relative;
  width: 100%;
  height: 100px;
}

header h1 {
  position: absolute;
  margin: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  font-weight: 400;
  font-size: 1em;
  line-height: 1.25em;
  letter-spacing: .1875em;
  text-align: center;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  header h1 {
    font-size: 1.25em;
    line-height: 1.5em;
  }
}

@media (min-width: 1024px) {
  header h1 {
    font-size: 1.5em;
    line-height: 1.75em;
  }
}

.location, .orientation {
  width: 100%;
  line-height: 1.25em;
  letter-spacing: .1875em;
  text-align: center;
  text-transform: uppercase;
}

#map {
  width: 100%;
  height: 300px;
  z-index: -9999;
}

@media (min-height: 600px) {
  #map {
    height: 400px;
  }
}

@media (min-height: 800px) {
  #map {
    height: 600px;
  }
}

.info {
  padding: 1em;
}

h2, p {
  font-weight: 400;
}

.canvas-container {
  width: 320px;
  margin: 0 auto;
}
